<div *ngIf="loan" class="mt-5">
  <div class="col-md-8 order-md-1">
    <p class="lead">{{loan.bank | uppercase}} loan application</p>
    <h4 class="mb-3">Address</h4>
    <form class="needs-validation" novalidate>
      <div class="row">

        <div class="col-md-6 mb-3">
          <label for="country">Title</label>
          <select class="custom-select d-block w-100" id="country" required>
            <option value="">Mr</option>
            <option>Ms</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid.
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" minlength="3" maxlength="3"value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email <span class="text-muted">(Optional)</span></label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Birthday</label>
        <input type="text" class="form-control" id="address" placeholder="Birthday" required>
        <div class="invalid-feedback">
          Please enter your Birthday.
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">Streetname / number <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
      </div>
      <div class="col-md-3 mb-3">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" placeholder="" required>
        <div class="invalid-feedback">
          Zip code required.
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </form>
    </div>
</div>
